:root {
  --font-family-header: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --font-style-header: normal;
  --font-weight-header: 400;
  --font-size-header: 2.3rem;
  --font-family-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --font-style-body: normal;
  --font-weight-body: 500;
  --font-size-body: 1.2rem;
  --primary-color: rgb(235, 235, 235);
  --secondary-color: #ffff;
  --accent-color: #a66cff;
  --hover-color: #814ece;
  --text-color-1: #ffff;
  --text-color-2: rgba(15, 15, 15, 0.933);
  --error-color: #c92432;
  --success-color: #4bb543;
  --error-background: #fffafa;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --container-width: 1200px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --border-radius: 4px;
  --default-font-size: 18px;
}

.dark-theme {
  --primary-color: #292c35;
  --secondary-color: #191d27;
  --accent-color: #a66cff;
  --text-color-2: #ffff;
  --text-color-1: rgba(15, 15, 15, 0.933);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-family-body);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: var(--default-font-size);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

/* button styling  */

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
  color: var(--text-color-1);
  background-color: var(--accent-color);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
}

.purp-btn:hover,
.purp-btn {
  color: white;
  background-color: var(--accent-color);
}

/* header styling */

header {
  display: block;
  box-shadow: var(--shadow);
  background-color: var(--secondary-color);
}

header h1 {
  font-family: var(--font-family-header);
  font-size: var(--font-size-header);
  color: var(--accent-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--spacing-lg);
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  background-color: var(--primary-color);
  display: flex;
  border-radius: 50px;
  height: 26px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.ball {
  background-color: var(--secondary-color);
  height: 23px;
  width: 23px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(30px);
}

.theme-icons {
  color: var(--text-color-2);
  transform: scale(0.8);
}

/* main content */

.main {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  font-weight: var(--font-weight-body);
}

.add-btn {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  background-color: transparent;
  color: var(--text-color-2);
  font-size: 1.4rem;
}

.success-msg[data-success] {
  width: 100%;
  height: 30px;
  padding: var(--spacing-sm);
  color: var(--success-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.success-msg::after {
  content: attr(data-success);
  color: var(--success-color);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xl);
  grid-auto-flow: row;
  margin: var(--spacing-xl) 0 0;
}

.card {
  height: 300px;
  font-family: inherit;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-color-2);
  padding: var(--spacing-lg);
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--shadow);
}

.card .author {
  font-size: 1.3rem;
}

.card .buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.card button {
  background-color: var(--primary-color);
  color: var(--text-color-2);
}

.card button:hover {
  background-color: var(--accent-color);
  color: white;
}

.footer {
  text-align: center;
}

a {
  color: var(--text-color-2);
  cursor: pointer;
  text-decoration: none;
}

/* modal styling  */

.modal-container {
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: var(--primary-color);
  max-width: 350px;
  width: 100%;
  padding: var(--spacing-lg) 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.modal form {
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--spacing-md);
}

.modal .input-container {
  max-width: 85%;
}

.modal input {
  background-color: var(--secondary-color);
  max-width: 100%;
  color: var(--text-color-2);
}

.modal button {
  width: 80%;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  background-color: var(--accent-color);
}

.modal button:hover {
  background-color: var(--hover-color);
}

/* css validation */

.input-container[data-error] input {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.input-container::after {
  content: attr(data-error);
  font-size: 0.85em;
  color: var(--error-color);
  display: block;
  margin: 10px 10px 0;
}
